In [1]:
import os

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
os.chdir('../90_Original_Data/')

In [3]:
os.listdir()

['products.csv',
 'orders.csv',
 'order_products__train.csv',
 'departments.csv',
 'aisles.csv',
 'order_products__prior.csv',
 'sample_submission.csv']

In [4]:
prod_df = pd.read_csv('products.csv')

In [6]:
ord_df = pd.read_csv('orders.csv')

In [6]:
ord_df.drop('eval_set', axis=1,inplace=True)

In [10]:
dep_df = pd.read_csv('departments.csv')

In [12]:
ais_df = pd.read_csv('aisles.csv')

We'll treat the prior as our training set and the train as our test set.  
Prior - 3214874 (our training set)  
Train - 131209 (our test set)

In [8]:
ord_prod_train_df = pd.read_csv('order_products__prior.csv')

In [10]:
ord_prod_test_df = pd.read_csv('order_products__train.csv')

Here we're combining the order/product information with user information by merging the `order_products` table with the `orders` table.

In [11]:
ord_prod_train_df = ord_prod_train_df.merge(ord_df, on='order_id')
ord_prod_test_df = ord_prod_test_df.merge(ord_df, on='order_id')

## Feature Engineering

Below I've created a new DataFrame that aggregared user-product info. I've also taken this as an opportunity to create a count of the number of orders for each product.

In [13]:
df_user_product = (ord_prod_train_df.groupby(['product_id','user_id'],as_index=False) 
                                          .agg({'order_id':'count'}) 
                                          .rename(columns={'order_id':'user_product_total_orders'}))

test_ids = ord_prod_test_df['user_id'].unique() 
df = df_user_product[df_user_product['user_id'].isin(test_ids)]
df.head()

   product_id  user_id  user_product_total_orders
0           1      138                          2
1           1      709                          1
3           1      777                          1
6           1     1052                          2
9           1     1494                          3

In [33]:
ord_prod_train_df

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,3,5,9,8.0
1,2,28985,2,1,202279,3,5,9,8.0
2,2,9327,3,0,202279,3,5,9,8.0
3,2,45918,4,1,202279,3,5,9,8.0
4,2,30035,5,0,202279,3,5,9,8.0
5,2,17794,6,1,202279,3,5,9,8.0
6,2,40141,7,1,202279,3,5,9,8.0
7,2,1819,8,1,202279,3,5,9,8.0
8,2,43668,9,0,202279,3,5,9,8.0
9,3,33754,1,1,205970,16,5,17,12.0
10,3,24838,2,1,205970,16,5,17,12.0
11,3,17704,3,1,205970,16,5,17,12.0
12,3,21903,4,1,205970,16,5,17,12.0
13,3,17668,5,1,205970,16,5,17,12.0
14,3,46667,6,1,205970,16,5,17,12.0
15,3,17461,7,1,205970,16,5,17,12.0
16,3,32665,8,1,205970,16,5,17,12.0
17,4,46842,1,0,178520,36,1,9,7.0
18,4,26434,2,1,178520,36,1,9,7.0
19,4,39758,3,1,178520,36,1,9,7.0
20,4,27761,4,1,178520,36,1,9,7.0
21,4,10054,5,1,178520,36,1,9,7.0
22,4,21351,6,1,178520,36,1,9,7.0
23,4,22598,7,1,178520,36,1,9,7.0
24,4,34862,8,1,178520,36,1,9,7.0
25,4,40285,9,1,178520,36,1,9,7.0
26,4,17616,10,1,178520,36,1,9,7.0
27,4,25146,11,1,178520,36,1,9,7.0
28,4,32645,12,1,178520,36,1,9,7.0
29,4,41276,13,1,178520,36,1,9,7.0
...,...,...,...,...,...,...,...,...,...
32434459,3421080,41950,4,0,52726,2,1,11,2.0
32434460,3421080,31717,5,0,52726,2,1,11,2.0
32434461,3421080,12935,6,1,52726,2,1,11,2.0
32434462,3421080,25122,7,0,52726,2,1,11,2.0
32434463,3421080,10667,8,0,52726,2,1,11,2.0
32434464,3421080,38061,9,0,52726,2,1,11,2.0
32434465,3421081,38185,1,0,117076,1,3,11,NaN
32434466,3421081,12218,2,0,117076,1,3,11,NaN
32434467,3421081,32299,3,0,117076,1,3,11,NaN
32434468,3421081,3060,4,0,117076,1,3,11,NaN
32434469,3421081,20539,5,0,117076,1,3,11,NaN
32434470,3421081,35221,6,0,117076,1,3,11,NaN
32434471,3421081,12861,7,0,117076,1,3,11,NaN
32434472,3421082,17279,1,1,175185,23,2,18,4.0
32434473,3421082,12738,2,1,175185,23,2,18,4.0
32434474,3421082,16797,3,0,175185,23,2,18,4.0
32434475,3421082,43352,4,1,175185,23,2,18,4.0
32434476,3421082,32700,5,1,175185,23,2,18,4.0
32434477,3421082,12023,6,0,175185,23,2,18,4.0
32434478,3421082,47941,7,0,175185,23,2,18,4.0
32434479,3421083,7854,1,0,25247,24,2,6,21.0
32434480,3421083,45309,2,0,25247,24,2,6,21.0
32434481,3421083,21162,3,0,25247,24,2,6,21.0
32434482,3421083,18176,4,1,25247,24,2,6,21.0
32434483,3421083,35211,5,0,25247,24,2,6,21.0
32434484,3421083,39678,6,1,25247,24,2,6,21.0
32434485,3421083,11352,7,0,25247,24,2,6,21.0
32434486,3421083,4600,8,0,25247,24,2,6,21.0
32434487,3421083,24852,9,1,25247,24,2,6,21.0
32434488,3421083,5020,10,1,25247,24,2,6,21.0

In [24]:
train_carts = (ord_prod_test_df.groupby('user_id',as_index=False)
                                      .agg({'product_id':(lambda x: set(x))})
                                      .rename(columns={'product_id':'latest_cart'}))

df = df.merge(train_carts, on='user_id')
df['in_cart'] = (df.apply(lambda row: row['product_id'] in row['latest_cart'], axis=1).astype(int))

   product_id  user_id  user_product_total_orders latest_cart  in_cart
0           1      138                          2     {42475}        0
1         907      138                          2     {42475}        0
2        1000      138                          1     {42475}        0
3        3265      138                          1     {42475}        0
4        4913      138                          1     {42475}        0

In [31]:
df

,product_id,user_id,user_product_total_orders,latest_cart,in_cart
0,1,138,2,{42475},0
1,907,138,2,{42475},0
2,1000,138,1,{42475},0
3,3265,138,1,{42475},0
4,4913,138,1,{42475},0
5,6184,138,1,{42475},0
6,6901,138,1,{42475},0
7,7147,138,1,{42475},0
8,7987,138,1,{42475},0
9,8048,138,2,{42475},0
10,10473,138,17,{42475},0
11,11759,138,1,{42475},0
12,12341,138,9,{42475},0
13,12899,138,1,{42475},0
14,13424,138,1,{42475},0
15,14032,138,2,{42475},0
16,15541,138,3,{42475},0
17,15672,138,1,{42475},0
18,15790,138,2,{42475},0
19,16974,138,9,{42475},0
20,18023,138,1,{42475},0
21,21292,138,2,{42475},0
22,21573,138,5,{42475},0
23,21769,138,4,{42475},0
24,21903,138,1,{42475},0
25,22046,138,10,{42475},0
26,22128,138,1,{42475},0
27,22469,138,4,{42475},0
28,26152,138,2,{42475},0
29,26491,138,1,{42475},0
...,...,...,...,...,...
8474631,44303,15495,3,"{10644, 5621, 24390}",0
8474632,44573,22711,3,"{13176, 13424, 49235, 1940}",0
8474633,44632,12561,2,{48190},0
8474634,48190,12561,2,{48190},1
8474635,45123,103024,2,{47209},0
8474636,47209,103024,3,{47209},1
8474637,47626,103024,3,{47209},0
8474638,45260,141714,7,{45260},1
8474639,45840,119309,5,"{1194, 28204, 45840, 27888, 5428, 26165, 4920}",1
8474640,46061,86821,1,{46149},0
8474641,46149,86821,3,{46149},1
8474642,46129,164228,3,{46129},1
8474643,46149,76933,5,{46149},1
8474644,46149,88866,5,"{39281, 44853}",0
8474645,46822,199604,8,{46822},1
8474646,46906,78397,4,{46906},1
8474647,47144,169498,1,"{46802, 49683, 49383}",0
8474648,48023,169498,2,"{46802, 49683, 49383}",0
8474649,49383,169498,4,"{46802, 49683, 49383}",1
8474650,49683,169498,3,"{46802, 49683, 49383}",1
8474651,48142,18512,9,{48142},1
8474652,48142,51229,3,{48142},1
8474653,48532,114488,3,{196},0
8474654,49001,166751,3,"{49001, 17482}",1
8474655,49054,204558,4,{49054},1
8474656,49070,31628,5,"{33000, 45608, 49070, 39441, 37496}",1
8474657,49075,136325,3,{49075},1
8474658,49235,56454,4,{49235},1
8474659,49235,80734,3,{49235},1
8474660,49520,74506,4,{49520},1

In [26]:
df.in_cart.value_counts()

0    7645837
1     828824
Name: in_cart, dtype: int64

In [27]:
df.user_id.nunique()

131209

In [ ]:
target_pcts = df.in_cart.value_counts(normalize=True) 
print(target_pcts)

target_pcts.plot(kind='bar')