In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
os.chdir('../90_Original_Data/')

In [3]:
pd.read_csv('products.csv').head(3) # prod_df

   product_id                          product_name  aisle_id  department_id
0           1            Chocolate Sandwich Cookies        61             19
1           2                      All-Seasons Salt       104             13
2           3  Robust Golden Unsweetened Oolong Tea        94              7

In [4]:
pd.read_csv('orders.csv').head(3) # ord_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

In [5]:
pd.read_csv('departments.csv').head(3) # dep_df

   department_id department
0              1     frozen
1              2      other
2              3     bakery

In [6]:
pd.read_csv('aisles.csv').head(3) # ais_df

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses
2         3    energy granola bars

In [9]:
pd.read_csv('order_products__prior.csv').head(3) # ord_prod_train_df

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

In [8]:
pd.read_csv('order_products__train.csv').head(3) # ord_prod_test_df

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0

Here we're combining the order/product information with user information by merging the `order_products` table with the `orders` table.

In [13]:
pd.read_csv('order_products__train.csv')\
        .merge(pd.read_csv('orders.csv'),
        on='order_id').head(3) # ord_prod_train_df

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0

In [24]:
train_carts = (ord_prod_test_df.groupby('user_id',as_index=False)
                                      .agg({'product_id':(lambda x: set(x))})
                                      .rename(columns={'product_id':'latest_cart'}))

df = df.merge(train_carts, on='user_id')
df['in_cart'] = (df.apply(lambda row: row['product_id'] in row['latest_cart'], axis=1).astype(int))

   product_id  user_id  user_product_total_orders latest_cart  in_cart
0           1      138                          2     {42475}        0
1         907      138                          2     {42475}        0
2        1000      138                          1     {42475}        0
3        3265      138                          1     {42475}        0
4        4913      138                          1     {42475}        0

In [31]:
df

,product_id,user_id,user_product_total_orders,latest_cart,in_cart
0,1,138,2,{42475},0
1,907,138,2,{42475},0
2,1000,138,1,{42475},0
3,3265,138,1,{42475},0
4,4913,138,1,{42475},0
5,6184,138,1,{42475},0
6,6901,138,1,{42475},0
7,7147,138,1,{42475},0
8,7987,138,1,{42475},0
9,8048,138,2,{42475},0
10,10473,138,17,{42475},0
11,11759,138,1,{42475},0
12,12341,138,9,{42475},0
13,12899,138,1,{42475},0
14,13424,138,1,{42475},0
15,14032,138,2,{42475},0
16,15541,138,3,{42475},0
17,15672,138,1,{42475},0
18,15790,138,2,{42475},0
19,16974,138,9,{42475},0
20,18023,138,1,{42475},0
21,21292,138,2,{42475},0
22,21573,138,5,{42475},0
23,21769,138,4,{42475},0
24,21903,138,1,{42475},0
25,22046,138,10,{42475},0
26,22128,138,1,{42475},0
27,22469,138,4,{42475},0
28,26152,138,2,{42475},0
29,26491,138,1,{42475},0
...,...,...,...,...,...
8474631,44303,15495,3,"{10644, 5621, 24390}",0
8474632,44573,22711,3,"{13176, 13424, 49235, 1940}",0
8474633,44632,12561,2,{48190},0
8474634,48190,12561,2,{48190},1
8474635,45123,103024,2,{47209},0
8474636,47209,103024,3,{47209},1
8474637,47626,103024,3,{47209},0
8474638,45260,141714,7,{45260},1
8474639,45840,119309,5,"{1194, 28204, 45840, 27888, 5428, 26165, 4920}",1
8474640,46061,86821,1,{46149},0
8474641,46149,86821,3,{46149},1
8474642,46129,164228,3,{46129},1
8474643,46149,76933,5,{46149},1
8474644,46149,88866,5,"{39281, 44853}",0
8474645,46822,199604,8,{46822},1
8474646,46906,78397,4,{46906},1
8474647,47144,169498,1,"{46802, 49683, 49383}",0
8474648,48023,169498,2,"{46802, 49683, 49383}",0
8474649,49383,169498,4,"{46802, 49683, 49383}",1
8474650,49683,169498,3,"{46802, 49683, 49383}",1
8474651,48142,18512,9,{48142},1
8474652,48142,51229,3,{48142},1
8474653,48532,114488,3,{196},0
8474654,49001,166751,3,"{49001, 17482}",1
8474655,49054,204558,4,{49054},1
8474656,49070,31628,5,"{33000, 45608, 49070, 39441, 37496}",1
8474657,49075,136325,3,{49075},1
8474658,49235,56454,4,{49235},1
8474659,49235,80734,3,{49235},1
8474660,49520,74506,4,{49520},1

In [26]:
df.in_cart.value_counts()

0    7645837
1     828824
Name: in_cart, dtype: int64

In [27]:
df.user_id.nunique()

131209

In [ ]:
target_pcts = df.in_cart.value_counts(normalize=True) 
print(target_pcts)

target_pcts.plot(kind='bar')