In [2]:
import os

import pandas as pd
import numpy as np

In [3]:
os.chdir('../Data/')

## prod_df

In [4]:
pd.read_csv('products.csv').columns.tolist()

['product_id', 'product_name', 'aisle_id', 'department_id']

In [5]:
pd.read_csv('products.csv').head(3) # prod_df

   product_id                          product_name  aisle_id  department_id
0           1            Chocolate Sandwich Cookies        61             19
1           2                      All-Seasons Salt       104             13
2           3  Robust Golden Unsweetened Oolong Tea        94              7

## ord_df

In [5]:
pd.read_csv('orders.csv').columns.tolist()

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [6]:
pd.read_csv('orders.csv').head(3) # ord_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

In [4]:
test = pd.read_csv('orders.csv')

In [7]:
test[test.eval_set == 'test']

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0
152,2161313,15,test,23,1,9,7.0
159,1416320,16,test,7,0,13,7.0
217,1735923,19,test,10,6,17,8.0
222,1980631,20,test,5,1,11,30.0
272,139655,22,test,16,5,6,1.0
300,1411408,25,test,4,0,15,30.0
313,2940603,26,test,13,5,14,8.0
420,1192143,28,test,25,1,16,8.0
469,280888,31,test,21,4,9,18.0
475,3202221,32,test,6,1,13,30.0
479,3222866,33,test,4,6,17,19.0
495,707453,35,test,10,4,15,21.0
533,1320132,36,test,38,0,8,3.0
578,882556,39,test,8,6,13,7.0
588,2431024,40,test,10,0,8,7.0
632,2827745,45,test,5,5,10,3.0
750,2174416,51,test,4,0,14,16.0
860,1325316,54,test,78,2,23,1.0
896,320326,57,test,15,0,7,8.0
912,2128599,58,test,16,4,12,7.0
932,1099519,60,test,9,4,22,30.0
937,144494,61,test,5,4,10,17.0
1053,3024191,68,test,7,2,15,30.0
1059,2817181,69,test,6,2,11,7.0
1118,2883656,73,test,8,6,18,30.0
...,...,...,...,...,...,...,...
3419718,1968103,206122,test,4,6,15,11.0
3419860,3094655,206127,test,6,3,12,30.0
3419911,2964171,206131,test,13,1,15,13.0
3419930,1522572,206135,test,4,1,16,21.0
3419961,544857,206138,test,15,0,9,7.0
3419996,1421496,206142,test,15,1,8,21.0
3420007,765758,206143,test,11,4,3,26.0
3420034,1772796,206147,test,5,5,22,25.0
3420152,3177219,206152,test,35,0,9,16.0
3420293,2380361,206160,test,11,5,15,24.0
3420309,928262,206161,test,16,0,12,7.0
3420334,1722401,206163,test,6,5,21,30.0
3420388,1945444,206166,test,20,5,18,2.0
3420406,2000023,206168,test,13,2,14,8.0
3420440,3151043,206173,test,4,0,13,9.0
3420547,2900626,206179,test,4,2,12,30.0
3420566,2633505,206180,test,19,0,13,7.0
3420592,1836967,206182,test,11,0,10,20.0
3420607,2799087,206183,test,15,0,13,29.0
3420662,2762353,206187,test,35,0,0,20.0
3420677,959487,206189,test,7,2,20,9.0
3420707,701105,206192,test,15,6,19,4.0
3420761,64567,206194,test,12,4,0,6.0
3420810,1564541,206197,test,24,0,14,30.0
3420895,309211,206201,test,33,0,12,11.0
3420918,2728930,206202,test,23,2,17,6.0
3420929,350108,206204,test,5,4,14,14.0
3421001,1043943,206206,test,68,0,20,0.0
3421018,2821651,206207,test,17,2,13,14.0
3421068,803273,206208,test,50,5,11,4.0

In [6]:
pd.read_csv('departments.csv').columns.tolist()

['department_id', 'department']

In [8]:
pd.read_csv('departments.csv').head(3) # dep_df

   department_id department
0              1     frozen
1              2      other
2              3     bakery

In [7]:
pd.read_csv('aisles.csv').columns.tolist()

['aisle_id', 'aisle']

In [6]:
pd.read_csv('aisles.csv').head(3) # ais_df

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses
2         3    energy granola bars

In [8]:
pd.read_csv('order_products__prior.csv').columns.tolist()

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [9]:
pd.read_csv('order_products__prior.csv').head(3) # ord_prod_train_df

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

In [8]:
pd.read_csv('order_products__train.csv').head(3) # ord_prod_test_df

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0

Here we're combining the order/product information with user information by merging the `order_products` table with the `orders` table.

In [12]:
pd.read_csv('order_products__train.csv')\
        .merge(pd.read_csv('orders.csv'),
        on='order_id').head(3) # ord_prod_train_df

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0

In [9]:
pd.read_csv('sample_submission.csv').head(3)

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259

In [26]:
df.in_cart.value_counts()

0    7645837
1     828824
Name: in_cart, dtype: int64

In [27]:
df.user_id.nunique()

131209

In [ ]:
target_pcts = df.in_cart.value_counts(normalize=True) 
print(target_pcts)

target_pcts.plot(kind='bar')