In [6]:
# load packages
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

import pandas as pd
import numpy as np

import os

In [7]:
os.chdir('../Data/')

In [8]:
df = pd.read_pickle('percentage_reorders_by_aisle')

In [10]:
table = ff.create_table(df)
#py.iplot(table, filename='jupyter-table1')

In [11]:
df.head()

                    Aisle Order Status  Percent of Orders Containing Aisle
0  air fresheners candles    Reordered                            0.001738
1             asian foods    Reordered                            0.016781
2        baby accessories    Reordered                            0.001395
3     baby bath body care    Reordered                            0.000770
4       baby food formula    Reordered                            0.032788

In [ ]:
df[df['Order Status'] == 'Reordered']

In [ ]:
trace1 = {"x": [72, 67, 73, 80, 76, 79, 84, 78, 86, 93, 94, 90, 92, 96, 94, 112], 
          "y": ["Brown", "NYU", "Notre Dame", "Cornell", "Tufts", "Yale",
                "Dartmouth", "Chicago", "Columbia", "Duke", "Georgetown",
                "Princeton", "U.Penn", "Stanford", "MIT", "Harvard"], 
          "marker": {"color": "pink", "size": 12}, 
          "mode": "markers", 
          "name": "Women", 
          "type": "scatter"
}

trace2 = {"x": [92, 94, 100, 107, 112, 114, 114, 118, 119, 124, 131, 137, 141, 151, 152, 165], 
          "y": ["Brown", "NYU", "Notre Dame", "Cornell", "Tufts", "Yale",
                "Dartmouth", "Chicago", "Columbia", "Duke", "Georgetown",
                "Princeton", "U.Penn", "Stanford", "MIT", "Harvard"], 
          "marker": {"color": "blue", "size": 12}, 
          "mode": "markers", 
          "name": "Men", 
          "type": "scatter", 
}

data = [trace1, trace2]
layout = {"title": "Gender Earnings Disparity", 
          "xaxis": {"title": "Annual Salary (in thousands)", }, 
          "yaxis": {"title": "School"}}

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filenmae='basic_dot-plot')